<h1>Hej, {USERNAME}</h1>

<p>Nyligen skickades en begäran om att återställa ett lösenord för ditt konto. Om detta var ett misstag, ignorera bara det här e -postmeddelandet så händer ingenting.<br/>Besök följande länk för att återställa ditt lösenord: <a href="{resetLink}" style="float: unset; width: 25%; display: block; margin: 26px auto 0; background: #100456; text-align: center; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; font-size: .875rem; line-height: 1.5; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; color: white;text-decoration: unset;">Återställa lösenord</a> </p>

<p>Verifiera ovanstående länk och ändra ditt nya lösenord. Kontakta gärna supportteamet om du har problem.</p>

<p>bäst,</p>

<p>Escaply Support</p>