<h1>Hello, {USERNAME}</h1>


<p>Recently a request was submitted to reset a password for your account. If this was a mistake, just ignore this email and nothing will happen.<br/>To reset your password, visit the following link: <a href="{resetLink}" style="float: unset; width: 25%; display: block; margin: 26px auto 0; background: #100456; text-align: center; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; font-size: .875rem; line-height: 1.5; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; color: white;text-decoration: unset;">Reset Password</a></p>


<p>Verify above link and than change you new password. Please feel free to contact support team should you have any issues.</p>

<p>Best,</p>

<p>Escaply Support</p>